extends layout

block content
	h1 Неправильно
	p Вопрос: #{tasks[step].a}
	p Правильный ответ: #{tasks[step].q}
	p Ваш ответ: #{answer}
	form(method="post", action="/study/run")
		input(hidden, value=Number(step)+1, name="step")
		input(hidden, value="tatar", name="type")
		input(hidden, value=selected, name="selected")
		input(hidden, name="answer", value=tasks[step].q)
		input(type="submit", value="Следующий вопрос", class="button")
